<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaozhuo.ctbsb.modules.question.mapper.QuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaozhuo.ctbsb.modules.question.model.Question">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="image" property="image" />
        <result column="text" property="text" />
        <result column="up_id" property="upId" />
        <result column="created_date" property="createdDate" />
    </resultMap>

    <select id="selectByKw" parameterType="String" resultMap="BaseResultMap">
        SELECT * FROM question
        WHERE MATCH (text)
        AGAINST (#{kw})
    </select>

    <select id="selectAll" parameterType="String" resultMap="BaseResultMap">
        SELECT * FROM question
    </select>
</mapper>
