<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaozhuo.ctbsb.modules.question.mapper.TypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaozhuo.ctbsb.modules.question.model.Type">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>


    <select id="selectByQuestionId" resultMap="BaseResultMap">
        select a.* from type a inner join question_type b
        on b.question_id = #{questionId}
        and b.user_id = #{userId}
        and a.id = b.type_id;
    </select>

</mapper>
